
<p>
  <strong>Name:</strong>
  <%= @livro.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @livro.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @livro.description %>
</p>

<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
